@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  background-color: darkgray;
}

body {
  overflow-x:hidden ;
}

#svgDiv {
  width: fit-content;
  margin: auto;
  transform: translateX(-5%)
}

h1 {
  font-family: Poppins;
  color: #002868;
  text-align: center;
}

#info-box {
  font-family: Poppins;
  color: #002868;
  text-align: center;
}

#year-select {
  font-family: Poppins;
  color: #002868;
  text-align: center;
}

#select-a-year {
  font-family: Poppins;
  color: #002868;
  text-align: center;
}

li {
  list-style: none;
  margin: auto;
}

path {
  stroke: darkgray;
  fill: #002868 !important;
  transition: fill .4s ease;
}

path:hover {
  fill: #BF0A30 !important;
}

#us-map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#details-box {
  padding: 1rem;
  border-radius: 8px;
  font-size: 16px;
  position: fixed;
  color: white;
  font-family: "Poppins";
  background-color: gray;
  width: fit-content;
  transform: translateX(-50%);
  transition: opacity .4s ease;
  z-index: 1;
}

